@{
    Page.Title = "员工管理系统";
    Layout = "~/_LayoutMain.cshtml";
}

<div class="jumbotron text-center">
    <h1>
        <i class="fa fa-user-o"></i>
        欢迎使用员工管理系统
        <small>基于MVC框架</small>
    </h1>
    <h2 class="text-primary">
        <a href="~/Dept/">部门信息管理</a>
        <a href="~/Employee/">员工信息管理</a>
        <a href="~/Page/">分页查询</a>
        <a href="~/Session/">浏览器变量</a>
    </h2>
</div>
