@{
    Page.Title = "用户";
    Layout = "~/_LayoutMain.cshtml";
    WeiBo.DAL.Entity.TblUser loginUser=(WeiBo.DAL.Entity.TblUser) Session["LoginUser"];
}

<p class="text-right">
    @if (loginUser==null)
    {
        <form action="~/User/Login" method="post" class="form-inline">
        <div class="form-group">
            <label>
                用户名：
                <input type="text" name="User.Username" class="form-control" />
            </label>
        </div>

        <div class="form-group">
            <label>
                密码：
                <input type="password" name="User.Password" class="form-control" />
            </label>
        </div>
        
        <div class="form-group">
            <input type="submit" value="登录" class="btn btn-info" />
            <a href="~/User/ToReg" target="_top" class="btn btn-info">注册</a>
        </div>

        <div class="form-group">
            <span class="text-danger">
                @Model.Message
            </span>
        </div>
    </form>
    }
    else
    {
        <span>
           <i class="fa fa-user-o"></i> <a href="~/Message/List" target="_top">@loginUser.Nickname</a>
        </span>
        <a href="~/User/Logout">安全退出</a>
    }
    
</p>