@{
    Page.Title = "加载图片";
    Layout = "~/_LayoutMain.cshtml";
}

<div class="text-right">
    <a href="~/Default/Index">返回</a>
</div>
<div>
    <img src="~/Default/DownLoad?UpFile.Fid=@Model.UpFile.Fid" class="img-responsive center-block" />
</div>
